<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">No to Travel</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#"(click)="onSelect('home')">Home</a></li>
        <li><a href="#" (click)="onSelect('search')">Search</a></li>
        <li><a href="#">Promotion</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a href="#" class="dropdown-toggle" role="button">Log In <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"(click)="onSelect('cont')">DaTaBaSe</a></li>
            <li><a href="#"(click)="onSelect('add')">Log in</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
